html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    script(src='/javascripts/jquery-1.4.3.min.js')
    script(src='/socket.io/socket.io.js')

    link(rel='stylesheet', href='/stylesheets/game.css')
  body!= body
