body {
  background: #ffffff url('/images/dancefloor4.jpg') repeat right top;
}

h1.title {
  margin-top: 50px;
  color: #ffffff;
  text-align: center;
}

#dancefloor {
}

form {
  width: 270px;
}

form input[type="text"] {
  -webkit-appearance: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0742188) 0px 1px 1px 0px inset;
  -webkit-rtl-ordering: logical;
  -webkit-transition-delay: 0s, 0s;
  -webkit-transition-duration: 0.20000000298023224s, 0.20000000298023224s;
  -webkit-transition-property: border, box-shadow;
  -webkit-transition-timing-function: linear, linear;
  -webkit-user-select: text;
  background-color: white;
  border-bottom-color: #CCC;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #CCC;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #CCC;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #CCC;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.0742188) 0px 1px 1px 0px inset;
  color: #555;
  cursor: auto;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  height: 38px;
  letter-spacing: normal;
  line-height: 32px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  text-align: -webkit-auto;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  vertical-align: middle;
  width: 270px;
  word-spacing: 0px;
}

.action {
  -webkit-box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.10000000149011612s;
  -webkit-transition-property: background-position;
  -webkit-transition-timing-function: linear;
  background-color: #05C;
  background-image: -webkit-linear-gradient(top, #08C, #05C);
  background-position: 0px -15px;
  background-repeat: repeat-x;
  border-bottom-color: rgba(0, 0, 0, 0.246094);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgba(0, 0, 0, 0.0976563);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.0976563);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.0976563);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  height: 24px;
  line-height: normal;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 10px;
  margin-top: 3px;
  outline-color: white;
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 14px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 0px;
  vertical-align: middle;
  width: 206px;
}

.dancer {
  width: 180px;
  height: 320px;
  float: left;
  margin: 2px;
}

.nickname {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #fc0;
}

.user {
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 320px;
  width: 180px;
}

.left {
  background-image: url('/images/fido-clap1.png')
}

.up {
  background-image: url('/images/fido-up1.png')
}

.right {
  background-image: url('/images/fido-guitar1.png')
}

.hi {
  background-image: url('/images/fido-drums1.png')
}
